@page "/carrito"
@inject ICarritoServices AccesoCarrito
@inject IOrdenServices AccesoOrdenes
@inject IJSRuntime iJSRuntime
<center>
   <h1>Carrito de @MiCarrito.Email</h1> 
</center>

<MudTable Items="@Items" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Categoria</MudTh>
        <MudTh>Precio por unidad</MudTh>
        <MudTh>Unidades</MudTh>
        <MudTh>Imagen</MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Id</MudTd>
        <MudTd DataLabel="Sign">@context.Nombre</MudTd>
        <MudTd DataLabel="Sign">@context.Categoria</MudTd>
        <MudTd DataLabel="Sign">@context.PrecioUnidad</MudTd>
        <MudTd DataLabel="Sign"><MudButton Variant="Variant.Text" OnClick="@(() => Borrar(context.Id, context.Nombre))">Borrar</MudButton></MudTd>
        <MudTd DataLabel="Sign"><MudCard><MudCardMedia Image="@context.UrlImagen" Height="30" /></MudCard></MudTd>
    </RowTemplate>
</MudTable>
<center>
<MudText Typo="Typo.h5">Total: @costetotal RD$</MudText>
</center>
@if(Items.Count != 0){
<MudButton Variant="Variant.Text" OnClick="@(() => OpenDrawer(Anchor.Bottom))">Comprar</MudButton>
}
<MudDrawer @bind-Open="@open" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudCard>
    <center>
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Pasarela de compra...</MudText>
        </MudDrawerHeader>
        <MudText Typo="Typo.h6">¿A donde te lo llevamos?</MudText>
        <RadzenGoogleMap style="height: 200px; width: 90%" Zoom=3 Center=@(new GoogleMapPosition() { Lat = latitud, Lng = longitud }) MapClick=@OnMapClick>
            <Markers>
                    <RadzenGoogleMapMarker Label="Aqui llegara" Position=@(new GoogleMapPosition() { Lat = latitud, Lng = longitud }) />

            </Markers>
        </RadzenGoogleMap>
        <MudText Typo="Typo.h5">Total: @costetotal RD$</MudText>
        <MudTextField @bind-Value="Comentario" Label="Escribe aqui a detalle tu direccion y un comentario para localizarte." Variant="Variant.Outlined"></MudTextField>
        <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
        <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.ShoppingCart" Size="Size.Large" IconSize="Size.Large" Label="Comprar" OnClick="(()=>AgregarPedido(Items))" Class="ma-2" />
        <MudNavLink OnClick="(() => open = false)">Cerrar</MudNavLink>
    </center>
    </MudCard>
</MudDrawer>
@code {
    string Comentario;
    Avocado_Market.Data.Carrito MiCarrito;
    [CascadingParameter]
    private Task<AuthenticationState> EstadoLogin { get; set; }
    List<CarritoItems> Items;
    private AuthenticationState UsuarioLogueado;
    double latitud, longitud, costetotal;
    protected override async Task OnInitializedAsync()
    {
        UsuarioLogueado = await EstadoLogin;
        MiCarrito = await AccesoCarrito.Get(UsuarioLogueado.User.Identity.Name);
        Items = await AccesoCarrito.GetItems(MiCarrito.Id);
        foreach (CarritoItems item in Items)
        {
            costetotal = costetotal + item.PrecioUnidad;
        }
    }
    protected override async Task OnAfterRenderAsync(bool render)
    {
            if(render){
                await iJSRuntime.InvokeVoidAsync("boton");
            }
    }

    public async void AgregarPedido(List<CarritoItems> Items)
    {
        await AccesoOrdenes.Add(MiCarrito, Items, latitud, longitud, costetotal, Comentario);
        await AccesoCarrito.Delete(Items);
        Items = await AccesoCarrito.GetItems(MiCarrito.Id);
        open = false;
    }

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        latitud = args.Position.Lat;
        longitud = args.Position.Lng;
    }

    public async void Borrar(int item,string Nombre)
    {
        await AccesoCarrito.Deleteee(item, Nombre);
        Items = await AccesoCarrito.GetItems(MiCarrito.Id);
        
    }
    bool open;
    Anchor anchor;

    void OpenDrawer(Anchor anchor)
    {
        open = true;
        this.anchor = anchor;
    }
}
