@page "/carrito"
@inject ICarritoServices AccesoCarrito
@inject IOrdenServices AccesoOrdenes
<h1>Carrito de @MiCarrito.Email, Id: @MiCarrito.Id</h1>
<MudTable Items="@Items" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Categoria</MudTh>
        <MudTh>Precio por unidad</MudTh>
        <MudTh>Unidades</MudTh>
        <MudTh>Imagen</MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Id</MudTd>
        <MudTd DataLabel="Sign">@context.Nombre</MudTd>
        <MudTd DataLabel="Sign">@context.Categoria</MudTd>
        <MudTd DataLabel="Sign">@context.PrecioUnidad</MudTd>
        <MudTd DataLabel="Sign">@context.Unidades</MudTd>
        <MudTd DataLabel="Sign"><MudCard><MudCardMedia Image="@context.UrlImagen" Height="30" /></MudCard></MudTd>
    </RowTemplate>
</MudTable>
<MudButton Variant="Variant.Text" OnClick="@(() => OpenDrawer(Anchor.Bottom))">Comprar</MudButton>
<MudDrawer @bind-Open="@open" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
    <center>
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Pasarela de compra...</MudText>
        </MudDrawerHeader>
        <MudText Typo="Typo.h6">¿A donde te lo llevamos?</MudText>
        <RadzenGoogleMap style="height: 200px; width: 90%" Zoom=3 Center=@(new GoogleMapPosition() { Lat = 0, Lng = 0 }) MapClick=@OnMapClick>
            <Markers>
                    <RadzenGoogleMapMarker Label="Aqui llegara" Position=@(new GoogleMapPosition() { Lat = latitud, Lng = longitud }) />

            </Markers>
        </RadzenGoogleMap>
        <p>@latitud , @longitud</p>
        <MudNavMenu>
            @foreach (CarritoItems p in Items)
            {
                <MudText>@p.Nombre</MudText>
            }

        </MudNavMenu>
        <MudText Typo="Typo.h5">Total: @costetotal RD$</MudText>
        <MudTextField @bind-Value="Comentario" Label="Escribe aqui a detalle tu direccion y un comentario para localizarte." Variant="Variant.Outlined"></MudTextField>
        <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.ShoppingCart" Size="Size.Large" IconSize="Size.Large" Label="Comprar" OnClick="AgregarPedido" Class="ma-2" />

    </center>
</MudDrawer>
@code {
    string Comentario;
    Avocado_Market.Data.Carrito MiCarrito;
    [CascadingParameter]
    private Task<AuthenticationState> EstadoLogin { get; set; }
    List<CarritoItems> Items;
    private AuthenticationState UsuarioLogueado;
    double latitud, longitud, costetotal;
    protected override async Task OnInitializedAsync()
    {
        UsuarioLogueado = await EstadoLogin;
        MiCarrito = await AccesoCarrito.Get(UsuarioLogueado.User.Identity.Name);
        Items = await AccesoCarrito.GetItems(MiCarrito.Id);
        foreach (CarritoItems item in Items)
        {
            costetotal = costetotal + item.PrecioUnidad;
        }
    }

    public async void AgregarPedido()
    {
        await AccesoOrdenes.Add(MiCarrito, Items, latitud, longitud, costetotal, Comentario);
    }

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        latitud = args.Position.Lat;
        longitud = args.Position.Lng;
    }


    bool open;
    Anchor anchor;

    void OpenDrawer(Anchor anchor)
    {
        open = true;
        this.anchor = anchor;
    }
}
